<%- layout('layouts/main') %>

    <form style="margin-left: 15px;" action="/carrito" method="POST">
        <button class="form-control" style="width: 10%;" type="submit">
            crear carrito
        </button>
    </form>
