<%- layout('layouts/main') %>


  <form style="margin-left: 15px;" action="/signin" method="POST">
    <input class="form-label" type="email" name="email" placeholder="Email"><br>
    <input class="form-label" type="password" name="password" placeholder="Password">
    <button class="form-control" style="width: 10%;" type="submit">
      SignIn
    </button>
  </form>


